h1 {
   display: flex;
   font-family: Bahnschfrit;
   color: #333;
   margin-top: 50px;
   justify-content: center;
   font-size: 50px;
}

hr {
   margin-top: 15px;
   width: 95%;
   margin-left: 6px;
}

.uldesign {
   display: flex;
   margin: auto;
   justify-content: center;
}

 ul {
   margin-top: 10px;
   font-family: Bahnschfrit;
   font-size: 17px;
   color: white;
} 

img {
   border: 2px solid rgb(53, 52, 52);
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   display: flex;
   width: 250px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
}

h4 {
   display: flex;
   font-family: Bahnschfrit;
   font-size: 18px;
   color: white;
   margin-top: 15px;
   justify-content: center;
}


.receitas-container{
    width: 80%;
    height: 450px;
    display: flex;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 227, 227);

}

#receita1,#receita2,#receita3,#receita4 {
    display: inline-block;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

 #receita1,#receita2,#receita3, #receita4 {
    background-color: #333;
 }


p {
   margin-top: 10px;
   font-family: Bahnschfrit;
   color: white;
   font-size: 15px;
   display: flex;
   width: 200px;
   height: 100px;
   justify-content: center;
   text-align: center;
   margin-left: 50px;
 }

 

